html {
  background-color: #ececec;
  display: flex;
  justify-content: center;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}

.theme-col {
  color: hsl(216deg 46% 53%);
}

.text_col {
  text-decoration: solid hsl(216deg 46% 53%);

}

.icon {
  height: 20px;
  width: 20px;
}

.mainIcon {
  height: 35px;
  width: 35px;
}

.borderTop {
  border-top: 5px solid hsl(216deg 46% 53%);
}

.mainCard {
  max-width: 1028px;
}


.rightFontHead {
  font-size: medium;
}


.rightFont {
  font-size: small;
}

.green {
  color: #04B955;
}

.generateBtn {
  background-color: #D4765E;
  border: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 200px;

}

.generateImg {
  height: 20px;
  width: 20px;
}

.previewBtn {
  background-color: #507CBE;
  border: none;
  width: 100px;
}

.fileBtn {
  background-color: #FFFFFF;
  border-color: #507CBE;
  width: 50px;
  border-style: double;
}

.printBtn {
  background-color: #507CBE;
  border-top: #507CBE;
  border-bottom: #507CBE;
  border-left: none;
  border-right: none;
}

.btnGrp {

  margin-bottom: 105px;
}

.btnStyle {
  width: 50px;
  height: 44px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btnStyleSMS {

  height: 44px;
}

.required:after {
  content: " *";
  color: red;
}

.ul {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #507CBE;
  text-decoration-thickness: 0;
}